{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Input{% endblock %}
{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="title col-12 col-lg-8">
            <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">Register Form</h2>
            <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">
                Please input your information.</h3>
        </div>
    </div>
</div>
<div class="container">
    <form action="confirm" method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid">
                <section class="custom">
                    <div class="row row-sm-offset">
                        <div class="col-md-6 multi-horizontal">
                            <p class="control-label"><b>โรงเรียน / School</b></p>
                            {{form.school}}
                        </div>
                        <div class="col-md-6 multi-horizontal">
                            <p class="control-label"><b>ประเภทการแข่งขัน / Type of Competition</b></p>
                            {{form.contesttype }}
                        </div>
                    </div>
                </section>
                <section class="custom-st" id="st-1">
                    <h3 class="mbr-section-subtitle align-left">ข้อมูลนักเรียนคนที่ 1</h3>
                    <div class="row row-sm-offset">
                        <div class="col-md-6 multi-horizontal" data-for="lastname">
                            <p class="control-label"><b>ชื่อและนามสกุล / name and surname</b></p>
                            {{form.name1}}
                        </div>
                        <div class="col-md-6 multi-horizontal">
                            <p class="control-label"><b>เพศ / Sex</b></p>
                            {{form.gender1 }}
                        </div>
                    </div>
                    <div class="row row-sm-offset">
                        <div class="col-md-6 multi-horizontal" data-for="phone">
                            <p class="control-label"><b>โทรศัพท์ / Tel</b></p>
                            {{form.phone1}}
                        </div>

                        <div class="col-md-6 multi-horizontal" data-for="email">
                            <p class="control-label"><b>อีเมล / Email</b></p>
                            {{form.email1}}
                        </div>
                    </div>
                    <div class="row row-sm-offset">
                        <span class="col-md-6">
                            <p class="control-label"><b>ขนาดของเสื้อ / T-Shirt Size</b></p>
                            {{form.size1}}
                        </span>
                        <span class="col-md-6">
                            <p class="control-label"><b>อาหาร / Food</b></p>
                            {{form.food1}}
                        </span>
                    </div>
                    <p class="control-label"><b>อแพ้อาหาร / Food Allergy</b></p>
                    {{form.allergy1}}
                </section>
                <section class="custom-st" id="st-2">
                    <h3 class="mbr-section-subtitle align-left">ข้อมูลนักเรียนคนที่ 2</h3>
                    <div class="row row-sm-offset">
                        <div class="col-md-6 multi-horizontal" data-for="lastname">
                            <p class="control-label"><b>ชื่อและนามสกุล / name and surname</b></p>
                            {{form.name2}}
                        </div>
                        <div class="col-md-6 multi-horizontal">
                            <p class="control-label"><b>เพศ / Sex</b></p>
                            {{form.gender2 }}
                        </div>
                    </div>
                    <div class="row row-sm-offset">
                        <div class="col-md-6 multi-horizontal" data-for="phone">
                            <p class="control-label"><b>โทรศัพท์ / Tel</b></p>
                            {{form.phone2}}
                        </div>

                        <div class="col-md-6 multi-horizontal" data-for="email">
                            <p class="control-label"><b>อีเมล / Email</b></p>
                            {{form.email2}}
                        </div>
                    </div>
                    <div class="row row-sm-offset">
                        <span class="col-md-6">
                            <p class="control-label"><b>ขนาดของเสื้อ / T-Shirt Size</b></p>
                            {{form.size2}}
                        </span>
                        <span class="col-md-6">
                            <p class="control-label"><b>อาหาร / Food</b></p>
                            {{form.food2}}
                        </span>
                    </div>
                    <p class="control-label"><b>อแพ้อาหาร / Food Allergy</b></p>
                    {{form.allergy2}}
                </section>
                <section class="custom-st" id="st-3">
                    <h3 class="mbr-section-subtitle align-left">ข้อมูลนักเรียนคนที่ 3</h3>
                    <div class="row row-sm-offset">
                        <div class="col-md-6 multi-horizontal" data-for="lastname">
                            <p class="control-label"><b>ชื่อและนามสกุล / name and surname</b></p>
                            {{form.name3}}
                        </div>
                        <div class="col-md-6 multi-horizontal">
                            <p class="control-label"><b>เพศ / Sex</b></p>
                            {{form.gender3 }}
                        </div>
                    </div>
                    <div class="row row-sm-offset">
                        <div class="col-md-6 multi-horizontal" data-for="phone">
                            <p class="control-label"><b>โทรศัพท์ / Tel</b></p>
                            {{form.phone3}}
                        </div>

                        <div class="col-md-6 multi-horizontal" data-for="email">
                            <p class="control-label"><b>อีเมล / Email</b></p>
                            {{form.email3}}
                        </div>
                    </div>
                    <div class="row row-sm-offset">
                        <span class="col-md-6">
                            <p class="control-label"><b>ขนาดของเสื้อ / T-Shirt Size</b></p>
                            {{form.size3}}
                        </span>
                        <span class="col-md-6">
                            <p class="control-label"><b>อาหาร / Food</b></p>
                            {{form.food3}}
                        </span>
                    </div>
                    <p class="control-label"><b>อแพ้อาหาร / Food Allergy</b></p>
                    {{form.allergy3}}
                </section>
                <section class="custom-tc" id="tc">
                    <h3 class="mbr-section-subtitle align-left">อาจารย์ที่ปรึกษา</h3>
                    <div class="row row-sm-offset">
                        <div class="col-md-6 multi-horizontal" data-for="lastname">
                            <p class="control-label"><b>ชื่อและนามสกุล / name and surname</b></p>
                            {{form.tname}}
                        </div>
                        <div class="col-md-6 multi-horizontal">
                            <p class="control-label"><b>เพศ / Sex</b></p>
                            {{form.tgender }}
                        </div>
                    </div>
                    <div class="row row-sm-offset">
                        <div class="col-md-6 multi-horizontal" data-for="phone">
                            <p class="control-label"><b>โทรศัพท์ / Tel</b></p>
                            {{form.tphone}}
                        </div>

                        <div class="col-md-6 multi-horizontal" data-for="email">
                            <p class="control-label"><b>อีเมล / Email</b></p>
                            {{form.temail}}
                        </div>
                    </div>
                    <div class="row row-sm-offset">
                        <span class="col-md-6">
                            <p class="control-label"><b>ขนาดของเสื้อ / T-Shirt Size</b></p>
                            {{form.tsize}}
                        </span>
                        <span class="col-md-6">
                            <p class="control-label"><b>อาหาร / Food</b></p>
                            {{form.tfood }}
                        </span>
                    </div>
                    <p class="control-label"><b>อแพ้อาหาร / Food Allergy</b></p>
                    {{form.tallergy}}
                </section>

                <div class="row justify-content-center">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success">Confirm</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}