{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Input{% endblock %}
{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="title col-12 col-lg-8">
            <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">Register Form</h2>
            <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">
                Please input your information.</h3>
        </div>
    </div>
</div>
<div class="container">
    <form action="confirm" method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid">
                <p class="control-label"><b>School</b></p>
                {{form.school}}
                <p class="control-label"><b>ContestType</b></p>
                {% for radio in form.contesttype %}
                <div class="radio">
                    {{radio.tag}}
                    <label>{{radio.choice_label}}</label>
                </div>
                {%endfor%}
                <p class="control-label"><b>Name</b></p>
                <div class="row row-sm-offset">
                    <div class="col-md-6 multi-horizontal" data-for="lastname">
                        <p class="control-label">LastName</p>
                        {{form.lname}}
                    </div>
                    <div class="col-md-6 multi-horizontal" data-for="firstname">
                        <p class="control-label">FamilyName</p>
                        {{form.fname}}
                    </div>
                </div>
                <p class="control-label"><b>Sex</b></p>
                {% for radio in form.gender %}
                <div class="radio">
                    {{radio.tag}}
                    <label>{{radio.choice_label}}</label>
                </div>
                {%endfor%}

                <div class="multi-horizontal" data-for="phone">
                    <p class="control-label"><b>Phone</b></p>
                    {{form.phone}}
                </div>

                <div class="multi-horizontal" data-for="email">
                    <p class="control-label"><b>E-mail</b></p>
                    {{form.email}}
                </div>
                <div class="row row-sm-offset">
                    <span class="col-md-6">
                        <p class="control-label"><b>Size of t-shirts</b></p>
                        {% for radio in form.size %}
                        <div class="radio">
                            {{radio.tag}}
                            <label>{{radio.choice_label}}</label>
                        </div>
                        {%endfor%}
                    </span>
                    <span class="col-md-6">
                        <p class="control-label"><b>Food</b></p>
                        {% for radio in form.food %}
                        <div class="radio">
                            {{radio.tag}}
                            <label>{{radio.choice_label}}</label>
                        </div>
                        {%endfor%}
                    </span>
                </div>
                <p class="control-label"><b>TeacherName</b></p>
                <div class="row row-sm-offset">
                    <div class="col-md-6 multi-horizontal" data-for="lastname">
                        <p class="control-label">Your teacher's LastName</p>
                        {{form.tlname}}
                    </div>
                    <div class="col-md-6 multi-horizontal" data-for="tfname">
                        <p class="control-label">Yout teacher's FamilyName</p>
                        {{form.tfname}}
                    </div>
                </div>

                <div class="row justify-content-center">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success">Confirm</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}