{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Input{% endblock %}
{% block body %}
<nav
    class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </button>
    <div class="menu-logo">
        <div class="navbar-brand">
            <span class="navbar-caption-wrap"><a class="navbar-caption text-primary display-5" href="">Robot
                    Contest</a></span>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="title col-12 col-lg-8">
            <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">Register Form</h2>
            <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">
                Please input your information.</h3>
        </div>
    </div>
</div>
<div class="container">
    <form action="confirm" method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid">
                <p class="control-label"><b>School</b></p>
                {{form.school}}
                <div class="form-group">
                    <p class="control-label"><b>ContestType</b></p>
                    <div class="radio">
                        <input type="radio" value="0" name="contesttype" id="Type1" required>
                        <label for="Type1">Type1</label>
                    </div>
                    <div class="radio">
                        <input type="radio" value="1" name="contesttype" id="Type2" required>
                        <label for="Type2">Type2</label>
                    </div>
                    <div class="radio">
                        <input type="radio" value="2" name="contesttype" id="Type3" required>
                        <label for="Type3">Type3</label>
                    </div>
                    <div class="radio">
                        <input type="radio" value="3" name="contesttype" id="Type4" required>
                        <label for="Type4">Type4</label>
                    </div>
                </div>
                <p class="control-label"><b>Name</b></p>
                <div class="row row-sm-offset">
                    <div class="col-md-6 multi-horizontal" data-for="lastname">
                        <div class="form-group">
                            <input type="text" class="form-control" name="lname" data-form-field="lname" required
                                placeholder="Please write your lastname " id="name-form1-s">
                        </div>
                    </div>
                    <div class="col-md-6 multi-horizontal" data-for="firstname">
                        <div class="form-group">
                            <input type="text" class="form-control" name="fname" data-form-field="Email" required
                                placeholder="Please write your familyname " id="email-form1-s">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <p class="control-label"><b>Sex</b></p>
                    <div class="radio">
                        <input type="radio" value="0" name="gender" id="man" required>
                        <label for="man">Man</label>
                    </div>
                    <div class="radio">
                        <input type="radio" value="1" name="gender" id="woman" required>
                        <label for="woman">Woman</label>
                    </div>
                </div>

                <div class="multi-horizontal" data-for="phone">
                    <div class="form-group">
                        <p class="control-label"><b>Phone</b></p>
                        <input type="tel" value="" class="form-control" name="phone" data-form-field="Phone"
                            placeholder="Please write your Phone number" id="phone-form1-s" required>

                    </div>
                </div>

                <div class="multi-horizontal" data-for="phone">
                    <div class="form-group">
                        <p class="control-label"><b>E-mail</b></p>
                        <input type="tel" class="form-control" name="email" data-form-field="email"
                            placeholder="Please write your E-mail Address" id="phone-form1-s" required>
                    </div>
                </div>
                <div class="row row-sm-offset">
                    <span class="col-md-6 form-group">
                        <p class="control-label"><b>Size of t-shirts</b></p>
                        <div class="radio">
                            <input type="radio" value="0" name="size" id="man" required>
                            <label for="sizes">S</label>
                        </div>
                        <div class="radio">
                            <input type="radio" value="1" name="size" id="sizem" required>
                            <label for="sizem">M</label>
                        </div>
                        <div class="radio">
                            <input type="radio" value="2" name="size" id="sizel" required>
                            <label for="sizel">L</label>
                        </div>
                        <div class="radio">
                            <input type="radio" value="3" name="size" id="sizexl" required>
                            <label for="sizexl">XL</label>
                        </div>
                    </span>
                    <span class="col-md-6 form-group">
                        <p class="control-label"><b>Food</b></p>
                        <div class="radio">
                            <input type="radio" value="0" name="food" id="man" required>
                            <label for="sizes">All</label>
                        </div>
                        <div class="radio">
                            <input type="radio" value="1" name="food" id="sizem" required>
                            <label for="sizem">Muslim</label>
                        </div>
                    </span>
                </div>
                <p class="control-label"><b>TeacherName</b></p>
                <div class="row row-sm-offset">
                    <div class="col-md-6 multi-horizontal" data-for="lastname">
                        <div class="form-group">
                            <input type="text" class="form-control" name="tlname" data-form-field="Name" required
                                placeholder="Please write your Teacher LastName " id="name-form1-s">
                        </div>
                    </div>
                    <div class="col-md-6 multi-horizontal" data-for="tfname">
                        <div class="form-group">
                            <input type="text" class="form-control" name="tfname" data-form-field="tfname" required
                                placeholder="Please write your Teacher FamilyName " id="name-form1-s">
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success">Confirm</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}